<% content_for :title, "Editando tweet" %>

<h1>Editar tweet</h1>

<%= render "form", tweet: @tweet %>

<br>

<div>
  <%= link_to "Mostrar este tweet", @tweet %> |
  <%= link_to "Editar tweet", tweets_path %>
</div>
